@charset "UTF-8";
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.projects__title, .efficiency__title {
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  text-transform: capitalize;
  color: white;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #171e28;
  color: #b6b4c6;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  padding: 34px 10px 34px 34px;
  background-color: #242B35;
  border: 1px solid #3D444E;
  border-radius: 7px;
}

.card::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 30%;
  display: block;
  width: 8px;
  height: 50%;
  background-image: linear-gradient(269deg, #d0ccfa 15.3%, #624bff 98.74%, #8f7fff 87.74%, #7f76f7 87.74%);
  border-radius: 0 7px 7px 0;
}

.list__text--purple {
  font-weight: 400;
  margin-bottom: 16px;
  color: #c7bfff;
}

.list__text--bold {
  font-weight: 600;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #3D444E;
}

.header__link {
  padding: 12px 0 15px 0;
}

.navigation__avatar {
  display: none;
  padding: 12px 0 15px 14px;
  border-left: 1px solid #3D444E;
}

@media screen and (min-width: 768px) {
  .navigation__avatar {
    display: block;
    padding: 12px 60px 12px 60px;
  }
}

.navigation__list {
  display: none;
}

.navigation__icon {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #3D444E;
  border-radius: 50%;
  background-color: #3D444E;
}

.navigation__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #b6b4c6;
}

.navigation__link--current {
  color: #8f7fff;
  background-color: rgba(143, 127, 255, 0.15);
}

.navigation__link--current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #BFBAFA), color-stop(87%, #624BFF), color-stop(87%, #8F7FFF), color-stop(88%, #7F76F7));
  background-image: linear-gradient(180deg, #BFBAFA 15%, #624BFF 87%, #8F7FFF 87%, #7F76F7 88%);
  border-radius: 0px 0px 2px 2px;
}

.navigation__icon--current {
  background-color: #8f7fff;
}

.select {
  padding-top: 40px;
  padding-bottom: 32px;
}

.select div:not(:last-child) {
  margin-bottom: 28px;
}

.select__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #c7bfff;
}

.select__wrapper {
  position: relative;
}

.select__wrapper::after {
  position: absolute;
  content: '';
  top: 40%;
  left: 175px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: transparent;
  border-left: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  pointer-events: none;
  cursor: pointer;
}

.select__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 76px 9px 16px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  line-height: 21px;
  color: #b6b4c6;
  background: #242B35;
  border: 1px solid #3D444E;
  border-radius: 7px;
  cursor: pointer;
}

.select__efficiency {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

/* Прячем чекбокс от браузера */
.select__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Оформляем чекбокс */
.select__checkbox {
  display: inline-block;
  width: 15px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
  background-image: url("../img/icons/nocheck.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.select__input:checked + .select__checkbox,
.select__input:checked:focus + .select__checkbox {
  background-image: url("../img/icons/check.svg");
  background-size: contain;
  background-color: #8f7fff;
  border: transparent;
  border-radius: 4px;
}

.select__button {
  margin-right: 24px;
  padding: 10px 28px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  border-radius: 7px;
  color: white;
  background-color: #8f7fff;
  border: 1px solid #8f7fff;
  cursor: pointer;
}

@media screen and (max-width: 296px) {
  .select__button {
    margin-right: 20px;
    margin-bottom: 24px;
  }
}

.select__button--transparent {
  margin-right: 0;
  color: #8f7fff;
  background-color: transparent;
  border: 1px solid #8f7fff;
}

.pagination .select__box {
  width: 61px;
  padding: 10px 0 9px 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.pagination .select__wrapper::after {
  left: 35px;
}

.projects {
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .projects {
    font-size: 14px;
    line-height: 21px;
  }
  .projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects .block--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.projects__card {
  padding: 34px 10px 34px 34px;
}

.projects__card:first-child {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .projects__card {
    padding: 40px 64px;
  }
}

.projects__title {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .projects__title {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.information__text--purple {
  margin-right: 15px;
  font-weight: 600;
  color: #c7bfff;
  width: 65px;
}

@media screen and (min-width: 768px) {
  .information__text--purple {
    width: 155px;
  }
}

.information {
  border-collapse: collapse;
}

td {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  td {
    margin-bottom: 16px;
  }
}

.block:first-child {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .block:first-child {
    width: calc(100% / 2);
    margin-right: 40px;
  }
}

.list__main--margin {
  margin-top: 40px;
}

.list__secondary {
  margin-left: 20px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

li:not(:last-child) {
  border-bottom: 1px solid #3D444E;
}

.efficiency {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .efficiency {
    font-size: 14px;
    line-height: 21px;
  }
  .efficiency .block--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .efficiency .list {
    display: block;
    width: calc(100% / 2);
  }
  .efficiency .list:first-child {
    margin-right: 40px;
  }
}

.efficiency__card {
  padding: 40px 65px;
}

.efficiency__title {
  margin-bottom: 24px;
}

.list:first-child {
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */