$font-body: 'Open Sans', sans-serif;
$primery-text-color: rgba(182, 180, 198, 1);
$border-color: #3D444E;
$select-box-background: #242B35;
$labels-text-color: rgba(199, 191, 255, 1);
$labels-primary-color: rgba(143, 127, 255, 1);
$current-bg-color: rgba(143, 127, 255, 0.15);
$primery-bg-color: rgba(23, 30, 40, 1);
$white-color: rgba(255, 255, 255, 1);
$additional-green-color: rgba(39, 174, 96, 1);
$additional-red-color: rgba(235, 87, 87, 1);
