.projects {
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 21px;
    .container {
      display: flex;
    }

    .block--flex {
      display: flex;
    }
  }
}

.projects__card {
  padding: 34px 10px 34px 34px;

  &:first-child {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    padding: 40px 64px;
  }
}

.projects__title {
  margin-bottom: 20px;
  @extend %title;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

.information__text--purple {
  margin-right: 15px;
  font-weight: 600;
  color: $labels-text-color;
  width: 65px;
  @media screen and (min-width: 768px) {
    width: 155px;
  }
}

.information {
  border-collapse: collapse;
}

td {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.block {
  &:first-child {
    margin-right: 20px;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2);
      margin-right: 40px;
    }
  }
}

.list__main--margin {
  margin-top: 40px;
}

.list__secondary {
  margin-left: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

li:not(:last-child) {
  border-bottom: 1px solid $border-color;
}
